Repository runelite/runelite.net, pull requests merged in 2018-11, with the labels that each got.

#153 Apply markdown-body max img width also on home
  src/components/app.scss
  src/routes/blog-show.css
  src/routes/blog-show.js
Labels: bug

#151 Add 1.4.24 Release post
  public/img/blog/1.4.24-Release/bank-tag-variations.gif
  public/img/blog/1.4.24-Release/stretched-resizable-mode.gif
  src/_posts/2018-11-01-10-00-1.4.24-Release.md
Labels: blog-post

#154 Add 1.4.25 Release post
  public/img/blog/1.4.25-Release/enhanced-chatbox-input.gif
  public/img/blog/1.4.25-Release/kills-to-level.png
  public/img/blog/1.4.25-Release/sidebar-closer.png
  src/_posts/2018-11-08-10-00-1.4.25-Release.md
Labels: blog-post

#155 Remove duplicated updates from 1.4.25 release post
  src/_posts/2018-11-08-10-00-1.4.25-Release.md
Labels: enhancement

#156 Add 1.4.26 Release post
  public/img/blog/1.4.26-Release/status-bars-plugin.gif
  src/_posts/2018-11-15-10-00-1.4.26-Release.md
Labels: blog-post

#160 Add 1.5.2 post
  public/img/blog/1.5.2-Release/stretched-fixed.png
  public/img/blog/1.5.2-Release/stretched-resizable.png
  src/_posts/2018-11-29-10-00-1.5.2-Release.md
Labels: blog-post
