Repository runelite/runelite.net, pull requests merged in 2019-06, with the labels that each got.

#246 Add 1.5.26 post
  public/img/blog/1.5.26-Release/invgrid.gif
  public/img/blog/1.5.26-Release/mining.gif
  src/_posts/2019-06-06-10-00-1.5.26-Release.md
Labels: blog-post

#247 add border to light navbar
  src/components/navigation.css
Labels: enhancement

#248 fix hero flash by preloading images before state update
  src/components/hero.js
Labels: bug

#249 Add 1.5.27 post
  public/img/blog/1.5.27-Release/items-kept-on-death-plugin.gif
  public/img/blog/1.5.27-Release/world-map-quest-completion-status.png
  src/_posts/2019-06-20-10-00-1.5.27-Release.md
Labels: blog-post
