Repository runelite/runelite.net, pull requests merged in 2019-08, with the labels that each got.

#254 Add 1.5.30 post
  public/img/blog/1.5.30-Release/banktags.gif
  public/img/blog/1.5.30-Release/clueloc.png
  public/img/blog/1.5.30-Release/despawntimer.png
  public/img/blog/1.5.30-Release/partyscout.png
  public/img/blog/1.5.30-Release/ping.png
  src/_posts/2019-08-01-10-00-1.5.30-Release.md
Labels: blog-post

#252 home screen: update fishing img to not have overlay bug
  public/img/carousel/2.png
Labels: enhancement

#255 Add support for generating redirects
  config-overrides.js
  redirect.html
  redirect.js
Labels: feature-request

#256 Add 1.5.31 post
  public/img/blog/1.5.31-Release/challenge.png
  public/img/blog/1.5.31-Release/lootcollapse.png
  public/img/blog/1.5.31-Release/splash.png
  src/_posts/2019-08-15-10-00-1.5.31-Release.md
Labels: blog-post

#257 Add 1.5.32 post
  src/_posts/2019-08-29-10-00-1.5.32-Release.md
Labels: blog-post
