Repository runelite/runelite.net, pull requests merged in 2019-04, with the labels that each got.

#232 Add link to HTTP apidocs
  src/components/navigation.js
Labels: feature-request

#234 Speed up loot tracker
  src/modules/loot.js
Labels: bug

#237 Add 1.5.20 post
  public/img/blog/1.5.20-Release/hiscore.png
  public/img/blog/1.5.20-Release/transport.png
  src/_posts/2019-04-18-10-00-1.5.20-Release.md
Labels: blog-post

#238 Add 1.5.21 post
  public/img/blog/1.5.21-Release/ammo.png
  public/img/blog/1.5.21-Release/barrows.png
  public/img/blog/1.5.21-Release/menu.png
  public/img/blog/1.5.21-Release/trawler.png
  src/_posts/2019-04-25-10-00-1.5.21-Release.md
Labels: blog-post
